.app {
  margin-top: 15px;
  font-size: 16px;

  .auth {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    .auth-tabs {
      background-color: white;
      border: 1px solid #eee;
      padding: 10px;
    }
  }

  a {
    cursor: pointer;
  }

  .cc-breadcrumbs {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }


  .downloads {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  ul.nodes {
    padding-left: 20px;
    border-left: 1px solid #eee;

    li {
      list-style: none;
      margin: 0px;

      .contents {
        cursor: pointer;

        .name {
          color: black;

          //&.bad { color: red; }
          //&.neutral {}
          //&.good { color: green; }
        }

        & > * {
          margin-right: 10px;
        }

        .actions {
          display: none;
        }

        &:hover > .actions {
          display: inline;
        }
      }
    }
  }

  ul.suggest-edits {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
    list-style: none;
  }
}