.app {
  margin-top: 5px;
  font-size: 16px;

  .auth {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 99;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
  }

  a {
    cursor: pointer;
  }

  .cc-breadcrumbs {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }


  .downloads {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  ul {
    padding-left: 20px;
    border-left: 1px solid #eee;

    li {
      list-style: none;
      margin: 0px;

      .contents {
        cursor: pointer;

        .name {
          &.bad { color: red; }
          &.neutral {}
          &.good { color: green; }
        }

        & > * {
          margin-right: 10px;
        }

        .actions {
          display: none;
        }

        &:hover > .actions {
          display: inline;
        }
      }
    }
  }
}