.app {
  a {
    cursor: pointer;
  }

  .cc-breadcrumb:not(:first-child) {
    margin-left: 10px;
    &:before {
      content: '< ';
    }
  }

  .downloads {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  ul {
    padding-left: 20px;

    li {
      list-style: none;
      margin: 0px;

      .contents {
        cursor: pointer;

        .name {
          &.bad { color: red; }
          &.neutral {}
          &.good { color: green; }
        }

        & > * {
          margin-right: 10px;
        }

        .actions {
          display: none;
        }

        &:hover > .actions {
          display: inline;
        }
      }
    }
  }
}